__pycache__/
data/
data_2/
train_set/
train_set_filter/
ffmpeg.exe
bird_id.log
spectrograms/
data_done/
unknown/
models/
train.csv
batch/
spectrograms_4stars/
data_done_4stars/
train_unfiltered/
train_unfiltered_sampled/
train_old/
train_filtered/
train_unfiltered_sampled/